#the-console {
  display: flex;
  flex-direction: column; }
  #the-console #console {
    padding: 5px; }
    #the-console #console .message:not(:last-child) {
      padding-bottom: 5px; }
  #the-console #input {
    position: relative; }
    #the-console #input textarea {
      resize: none;
      border: none;
      font-family: monospace;
      line-height: 15px;
      padding: 0 5px 5px 5px; }
    #the-console #input:before {
      position: absolute;
      top: 1px;
      left: 5px;
      content: ">";
      font-family: monospace;
      line-height: 15px; }
