#the-console {
  display: flex;
  flex-direction: column;
  #console {
    padding: 5px;
    .message {
      &:not(:last-child) {
        padding-bottom: 5px;
      }
      .input {
        color: $textInput;
      }
      .error {
        color: $textError;
      }
    }
  }
  #input {
    position: relative;
    #cwd {
      position: absolute;
      top: 1px;
      left: 5px;
      content: ">";
      font-family: 'Source Code Pro', monospace;
      line-height: 15px;
    }
    textarea {
      resize: none;
      border: none;
      font-family: 'Source Code Pro', monospace;
      line-height: 15px;
      padding: 0 5px 5px 5px;
      background-color: $bg;
      color: $textInput;
    }
  }
}