@import "./reset.scss";

$bg: #333;
$text: #f1f1f1;
$textInput: lighten(dodgerblue, 20%);
$textError: pink;

html,
body {
  height: 100%;
  font-family: 'Source Code Pro', monospace;
  background-color: $bg;
  color: $text;
}

.d-flex {
  display: flex
}

.flex-1 {
  flex: 1
}

.text-center {
  text-align: center
}

.d-none {
  display: none
}

@import "./console.scss";